@model List<Hospital.Models.DoctorCheckups>
@{
    ViewData["Title"] = "Doctor Checkup List";
}

<!DOCTYPE html>

<h1>@ViewData["Title"]</h1>

<table class="accounts table">
    <thead>
    <tr>
        <th>Doctor Name</th>
        <th>Doctor Email</th>
        <th>Speciality</th>
        <th>Patient Name</th>
        <th>Patient Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Doctor.Account.Username</td>
            <th>@c.Doctor.Email</th>
            <td>@c.Doctor.Specialty</td>
            <th>@c.Patient.Account.Username</th>
            <th>@c.Patient.Email</th>
        </tr>
    }
    
    </tbody>
    
</table>